[build]
  command = "vite build"
  publish = "dist/client"
[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888
[[redirects]]
  from = "/@tanstack-start/*"
  to = "/.netlify/functions/server"
  status = 200
[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200